@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.contentWrap {
  width: 100%;
  max-width: 580px;
  margin: auto; /* Pushes to vertical center */
  padding: 0 20px;
  z-index: 2;
}

.title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 110px;
  font-weight: 700;
  color: #FF0915;
  letter-spacing: -0.5px;
  margin: 0 0 16px 0;
  line-height: 1.2;
}

.subtitle {
  margin: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 28px;
  letter-spacing: 0.5px;
  line-height: 1.4;
  color: #FF0915;
  font-weight: 400;
}

/* ---------------- Responsive Rules ---------------- */

@media (max-width: 972px){
  .contentWrap {
    max-width: 440px;
  }
}

@media (max-width: 768px){
  .contentWrap {
    width: 80%;
  }
}

@media (max-width: 660px){
  .contentWrap {
    width: 100%;
  }
}

@media (max-width: 425px){
  .title {
    font-size: 34px;
  }
  .subtitle {
    font-size: 18px;
  }
}